*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 900;
    text-shadow: gray;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #231B37;
}

ul{
    list-style: none;
}

a{
    display: inline-block;
    color: white;
    text-decoration: none;
}

span {
    display: inline-block;
}

.div_1{
    max-width: 1440px;
    min-width: 600px;
    margin: auto;
    padding: 0px 60px;
}

.main {
    background-color: #231B37;
    height: 100%;
    border-radius: 50px;
}

section {
    background-image: url(/images/Background_Image.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 50px;
}

.head_nav{
    padding: 60px 0px;
}

nav{
    display: grid;
    grid-template-columns: 15% auto;
}

nav ul li {
    display: inline-block;
  }

nav ul {
    text-align: right;
}

nav ul li a {
    font-size: 14px;
    padding: 12px 20px;
}

a.Contact{
    background: #472472;
    border-radius: 60px;
    box-shadow: 0px 4px 10px 0px rgb(14, 8, 8);
    padding: 8px 32px;
}

/* responsive */
.nav_respon{
    display: none;
}

/* index part */

.text_1{
    justify-content: end;
    display: grid;
    grid-template-columns: 522px;
}
.text_1 span{
    color: #5d3974;
    font-size: 20px;
}
.text_deg_dev{
    color: #575757;
    font-size: 15px;
    margin-bottom: 30px;
}
.text_1 h2{
    color: white;
    font-size: 50px;
}
.text_1 p{
    color: beige;
    font-size: 14px;
    line-height: 22px;
}

/* resum part */

.text_underbox{
    display: grid;
    grid-template-columns: 500px;
    justify-content: end;
}
.boxitems{
    display: grid;
    grid-template-columns: 136px 320px;
    grid-gap: 55px;
    margin-bottom: 45px;
    font-weight: normal;
}
.items_1 h3{
    color: #5d3974;
    font-size: 13px;
}
.items_1 p{
    color: #575757;
    font-size: 13px;
}
.items_2{
    color: #e8e8e8;
    font-size: 14px;
}
.items_1::after{
    background: #a60ac7;
    box-shadow: 0px 0px 7px #a60ac7;
    border-radius: 40px;
    position: absolute;
    content: "";
    width: 2px;
    height: 245px;
    top: -8px;
    right: -23px;   
}
.items_2{
    padding-top: 10px;
}
.items_2 ul{
    list-style: disc;
    list-style-position: outside;
}
.items_2 ul li{
    font-size: 12px;
    margin-bottom: 7px;
}
.items_2 ul li span{
    font-size: 10px;
}
.items_2 ul li ul{
    padding-left: 20px;
}
.items_1{
    text-align: right;
    position: relative;
}
.items_2 h2{
    margin-bottom: 10px;
}
.boxitems.items_1{
    margin-top: 29px;
}

/* gallery part */

.gallery {
    display: grid;
    grid-template-columns: 500px;
    justify-content: end;
  }
.gallery_box{
    display: grid;
    grid-template-columns: 242px 242px;
    justify-items: center;
}
.gallery_imgs img{
    width: 222px;
    height: 223px;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
}

/* certifictes part */

.certifictes .gallery_imgs img{
    border-radius: 0px;
}